{% extends "index.html.twig" %}

{% block content %}
    {% include "transport-block.html.twig" %}

    <div class="card-columns">
        {% for row in contentblocks %}
        <div class="card">
                <div class="card-header">{{ row.title }}</div>
                <div class="card-body">
                    {% for item in row.items %}
                        <span><button class="btn btn-success btn-lg secondary m-1" onclick="wwr_req('{{ item.identifier }}');">{{ item.title }}</button></span>
                    {% endfor %}
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
