<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="./assets/js/popper.js-1.14.5/dist/umd/popper.js"></script>
  <script src="./assets/js/popper.js-1.14.5/dist/umd/popper-utils.js"></script>
  <script src="./assets/js/bootstrap.js"></script>
  <script src="./assets/js/bootstrap.bundle.js"></script>
  <script src="./assets/fontawesome-free-5.5.0-web/js/all.min.js"></script>
  <script src="./assets/js/reaper.js"></script>

  <link rel="stylesheet" href="./assets/css/bootstrap.css">
  <link rel="stylesheet" href="./assets/css/bootstrap-grid.css">
  <link rel="stylesheet" href="./assets/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="./assets/fontawesome-free-5.5.0-web/css/all.min.css">

  <script>
    wwr_start();
  </script>
</head>

<body>
<section class="head container-fluid mb-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mt-1">
    <ul class="navbar-nav m-0 p-0">
        {% for item in navigationLinks %}
        <li class="nav-item btn btn-lg btn-primary mr-1 p-0">
          <a class="nav-link" href="./{{ item.page }}.html">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
  </nav>
</section>
<section class="content container-fluid">
  {% block content %}

  {% endblock %}
</section>
</body>
</html>
